.App {
  text-align: center;
}

nav {
  width: 100%;
  background: lightgrey;
  padding: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a.is-active {
  background: #4caf50;
  padding: 20px;
}

.container {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 20px;
}
